<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Nuevo Usuario - TuTienda</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Russo+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body class="auth-body"> <div class="auth-container"> <h1>Crear una Cuenta</h1>

    <div th:if="${errorGlobal}" class="auth-message error" th:text="${errorGlobal}">
        Error general aquí.
    </div>

    <form th:action="@{/registro}" th:object="${usuarioDto}" method="post" class="auth-form"> <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" th:field="*{username}" placeholder="Ej: juanperez" autofocus/>
        <div th:if="${#fields.hasErrors('username')}" class="auth-message error" th:errors="*{username}"></div>
    </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Mínimo 6 caracteres" />
            <div th:if="${#fields.hasErrors('password')}" class="auth-message error" th:errors="*{password}"></div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirmar Contraseña:</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Repite tu contraseña" />
            <div th:if="${#fields.hasErrors('confirmPassword')}" class="auth-message error" th:errors="*{confirmPassword}"></div>
        </div>

        <button type="submit" class="button-submit">Registrarme</button>
    </form>

    <div class="auth-links"> <p>¿Ya tienes una cuenta? <a th:href="@{/login}">Inicia Sesión Aquí</a></p>
    </div>
</div>

</body>
</html>